<launch>
    <arg name="rtk_en" default="false" />
    <arg name="dataset_directory" value="$(find fast_lio)/Dataset"/>
    <arg name="is_record_odom" default="false"/>
    <arg name="is_record_velodyne" default="false"/>
    <!-- <rosparam file="$(find fast_lio)/config/params.yaml" command="load" /> -->

    <node  name="xsens_mti_node" pkg="xsens_mti_driver" type="xsens_mti_node" output="screen">
        <rosparam command="load" file="$(find fast_lio)/config/xsens.yaml" />
    </node>

    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/>

    <include file="$(find nmea_navsat_driver)/launch/nmea_serial_driver.launch" if="$(arg rtk_en)">
        <arg name="port" default="/dev/ttyUSB0"/>
        <arg name="baud" default="115200"/>
        <arg name="frame_id" default="rtk"/>
        <remap from="/fix" to="rtk/fix"/>
    </include>

    <!-- Record bag -->
    <node name="bag_record" pkg="rosbag" type="record"
        args="record -o $(arg dataset_directory)/bag /imu/data /fix_rtk /gnss /velodyne_points"
        if="$(eval is_record_velodyne or is_record_odom)"/>
</launch>